[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=zz1
Group=zz1

WorkingDirectory=/home/zz1/mama_bot/
Enviroment="PYTHONPATH=/home/zz1/mama_bot/"
ExecStart=/home/zz1/mama_bot/.venv/bin/python /home/zz1/mama_bot/main.py

[Install]
WantedBy=multi-user.target